.video-title{
    
    vertical-align: top;
    margin-top: 4px;
    font-family: Roboto , Arial;
    margin-bottom: 0px;
    font-size:14px; 
    font-weight: 500;  
}

.video-author{
    vertical-align: top;
    color: rgb(96, 96, 96);
    font-family: Roboto;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.video-stats{
    color: rgb(96, 96, 96);
    font-family: Roboto;
    font-size: 12px;
    margin-top: 0px;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 780px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:751px) and (max-width:999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width: 1000px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail{
    width: 100%;
    position: relative;
    
}

.channel-pic{
    width: 40px;
    vertical-align: top;
    border-radius: 50px;
}

.channel-content-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-time{
    background-color: black;
    color: white;
    position: absolute;
   

}